<hr>
<div class="container">
    <div class="col-sm-12">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Manuel Torrez. &middot; <a href="twitter.com/prinzvonlicht_">Twitter</a> &middot; <a href="github.com/manueltorrez/">Github</a></p>
    </div>
</div>